.hero {
  height: 80vh;
  padding: 0rem 3rem 0rem 4rem;
  line-height: 1.2;
  letter-spacing: 0rem;
  display: flex;
  align-items: flex-end;
  /* transform: translateY(-4rem); */
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  /* transform: translateY(2.5rem); */
}
.heroContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  padding: 0rem 0rem 0rem 2rem;
}
.heroContent button {
  flex-basis: auto;
  display: inline;
  border-radius: 0.8rem;
}
.heroContent span {
  color: var(--primary-color);
}

.heroContent h1 {
  font-size: 3.3rem;

  font-weight: 600;
}

.heroContent p,
button {
  font-size: 1.4rem;
}

.heroContent button {
  padding: 0.85rem 4rem;
}
@media (max-width: 56rem) {
  /* 56rem = 896px if 1rem = 16px */
  .hero {
    padding-left: 1rem; /* transform: translateY(-4rem); */
    transform: translateY(10rem);
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
