.statsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  width: 70%;
  margin: 2rem auto;
  margin-bottom: 5.2rem;
}
.statsSection h1 {
  font-size: 2.4rem;
  font-weight: 500;
}
.statsSection p {
  font-size: 1.28rem;
  line-height: 1.2;
}
.statsSection main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
}
.statsSection img {
  height: 5.46rem;
  width: 6.32rem;
  margin-bottom: 1.7rem;
  padding: 0;
}
.statsSection main div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
}
.statsSection main * {
  flex-grow: 1;
}
.statsSection main h1 {
  font-weight: 600;
}

.shimmer h1 {
  background-color: var(--light-gray-color);
  color: var(--light-gray-color);
  height: 1.6rem;
  width: 7rem;
  color: transparent;
  border-radius: 0.4rem;
}
.shimmer p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  padding-top: 1rem;
}
.shimmer p span {
  color: transparent;
  background-color: var(--light-gray-color);
  height: 0.8rem;
  display: block;
  width: 10rem;
  border-radius: 0.28rem;
}
.shimmer p span:last-child {
  width: 4rem;
}
@media (max-width: 56rem) {
  .statsSection main {
    flex-direction: column;
    gap: 3.68rem;
  }
}
