.statsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  width: 70%;
  margin: 2rem auto;
  margin-bottom: 5.2rem;
}
.statsSection h1 {
  font-size: 2.4rem;
  font-weight: 500;
}
.statsSection p {
  font-size: 1.28rem;
  line-height: 1.2;
}
.statsSection main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
}
.statsSection img {
  height: 5.46rem;
  width: 6.32rem;
  margin-bottom: 1.7rem;
  padding: 0;
}
.statsSection main div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
}
.statsSection main * {
  flex-grow: 1;
}
.statsSection main h1 {
  font-weight: 600;
}
