.statsSection {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}
.statsSection h1 {
  font-size: 2.5rem;
  font-weight: 500;
}
.statsSection p {
  font-size: 1.28rem;
  line-height: 1.2;
}
.statsSection main {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 6rem;
  row-gap: 1rem;
  justify-items: center;
  align-items: center;
  align-content: center;
}
.statsSection main * {
  text-align: center;
}
.statsSection main h1 {
  font-weight: 600;
}
