.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.4rem;
  padding-top: 0.8rem;
  padding-bottom: 4rem;
}
.header > svg {
  height: 4.6rem;
  width: 4.6rem;
}
.header h1 {
  font-size: 2.4;
  font-weight: 600;
  line-height: 1;
}
.header b {
  font-weight: 500;
}
.socialMedia b {
  font-weight: 600;
}

.header button {
  display: flex;
  gap: 1rem;
  margin: 0.8rem;
}
.header button svg {
  height: 1.4rem;
  width: 1.4rem;
  transform: translateY(0.2rem);
}
.socialMedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  font-size: 1.4rem;
}
.socialMedia div {
  display: flex;
  gap: 0.7rem;
}

.socialMedia svg {
  width: 1rem;
  height: 1rem;
}

.socialMedia svg path {
  stroke: #000000;
  fill: #000000;
}
@media (max-width: 56rem) {
  .header {
    padding-top: 1.5625rem;
    padding-bottom: 7rem;
  }

  .header svg {
    height: 4rem;
  }
  .header h1 {
    font-size: 1.875rem;
  }
  .header p {
    font-size: 1.125rem;
  }
  .header button {
    font-size: 1.25rem;
    height: 3.75rem;
    display: flex;
    align-items: center;
    padding: 0rem 1.6875rem;
    border-radius: 0.675rem;
  }
}
