.mainSection {
  width: 66%;
  margin: 0rem auto;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}
.inputGroup input {
  appearance: none;
  border: none;
  outline: none;
  font-size: 1.2rem;
  background-color: var(--light-gray-color);
  padding: 0.88rem 1.6rem;
  border-radius: 0.6rem;
  width: 100%;
}
.inputGroup label {
  font-size: 1.2rem;
  font-weight: 500;
}
span.required {
  color: red;
}
.selectInput {
  position: relative;
}
.selectInput svg {
  position: absolute;
  right: 1rem;
  top: 1.4rem;
  height: 0.718rem;
  width: 0.718rem;
  pointer-events: none;
}

.selectInput * {
  stroke: #000;
  fill: #000;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 4rem;
}
.header h1 {
  font-size: 2.4rem;
  font-weight: 600;
}
.header svg {
  height: 3rem;
  width: 3rem;
  margin-top: 1.4rem;
  margin-bottom: 0.6rem;
}
.header * {
  stroke: var(--primary-color);
  fill: var(--primary-color);
}

.row {
  display: flex;
  gap: 2rem;
  align-items: start;
  margin-top: 2rem;
}
.row * {
  flex: 1;
}
.fileUpload {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  height: auto;
  justify-content: center;
  align-items: center;
}

.fileUpload label {
  display: inline-block;
  padding: 0.4rem 1.4rem;
  cursor: pointer;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 0.4rem;
  text-align: center;
  margin: 1rem;
}
.fileUpload input[type="file"] {
  display: none;
}

.fileUpload div {
  display: flex;
  justify-content: center;
  height: 5.64rem;
  width: 5.64rem;
  background-color: var(--light-gray-color);
  border-radius: 50%;
  align-items: center;
  overflow: hidden;
}
.fileUpload div img {
  width: 50%;
  height: 50%;
}
.fileUpload p {
  font-size: 0.8rem;
}
.lineSeparator {
  padding-top: 4rem;
  padding-bottom: 1.6rem;
  text-align: left;
}

.lineSeparator div {
  height: 0.1rem;
  background-color: var(--light-gray-color);
  margin-bottom: 0.88rem;
}
.actionButton {
  display: flex;
  margin-top: 4rem;
  justify-content: end;
}
