.header {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-align: center;
  font-size: 1.4rem;
  padding: 3rem 0rem 4rem 0rem;
}
.header h1 {
  font-size: 2.4rem;
  font-weight: 600;
}
.action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.main {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 4rem;
  margin: 0rem 7.6rem 8rem 5rem;
}
.leftContainer {
  width: 77%;
  height: 10rem;
  border-radius: 0.8rem;
  background-color: #f7f7f7;
  display: flex;
}
.leftContainer div:first-child {
  flex: 0 0 30%;
  background-color: #000000;
  width: 30%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
}
.leftContainer div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 1.4rem;
}
.leftContainer div:last-child p {
  width: 75%;
}
.leftContainer h1 {
  font-size: 1.8rem;
  font-weight: 500;
}

.rightContainer {
  width: 77%;
  height: 10rem;
  border-radius: 0.8rem;
  background-color: #f7f7f7;
  display: flex;
  text-align: end;
  align-self: flex-end;
}
.rightContainer div:last-child {
  flex: 0 0 30%;
  background-color: #000000;
  width: 30%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}
.rightContainer div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-right: 1.4rem;
}
.rightContainer div:first-child p {
  width: 75%;
  align-self: flex-end;
}
.rightContainer h1 {
  font-size: 1.8rem;
  font-weight: 500;
}

.main button {
  align-self: center;
  font-size: 1.6rem;
  font-weight: 600;
  height: 4rem;
  width: 20rem;
}
