.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 4rem;
}
.header h1 {
  font-size: 2.4rem;
  font-weight: 600;
}
.header svg {
  height: 3rem;
  width: 3rem;
  margin-top: 1.4rem;
  margin-bottom: 0.6rem;
}
.postJobButton {
  display: flex;
  justify-content: center;
}
.mainContainer {
  margin-bottom: 4rem;
}

.tableContainer {
  width: 100%;
  padding: 0rem 2.76rem;
}

.table {
  width: 100%;
  border-radius: 0.8rem;
  border-collapse: collapse;
  font-size: 1.4rem;
}

.table th {
  text-align: left;
  padding-left: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: var(--light-gray-color);
  height: 5.56rem;
}

.table thead th:first-child {
  border-top-left-radius: 0.8rem;
}
.table thead th:last-child {
  border-top-right-radius: 0.8rem;
}
.table tbody tr {
  background-color: #f7f7f7;
  height: 4.4rem;
  border-bottom: 0.1rem solid var(--light-gray-color);
}
.table tbody tr:last-child {
  border: none;
}
.table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 0.8rem;
}
.table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 0.8rem;
}
.table tbody tr td {
  padding-left: 1rem;
}
.table tbody tr td:nth-child(4n + 1) {
  display: flex;
  height: 4.3rem;
  align-items: center;
  justify-content: center;

  padding-left: 0;
  text-align: center;
}

.actionsContainer {
  display: flex;
  gap: 0.2rem;
}
.actionsContainer * {
  flex-grow: 0;
}
.publish {
  all: unset;
  color: #fff;
  background-color: #000;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.28rem 1.2rem;
  border-radius: 0.28rem;
}
