.card {
  background-color: #f7f7f7;
  padding: 1.56rem 0.92rem 1.04rem 1.56rem;
  height: 18.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card header {
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 0.7rem;
  font-size: 1.4rem;
}
.card header img {
  height: 1.4rem;
}

.details {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
}
.details * {
  flex-shrink: 0;
  background-color: var(--light-gray-color);
  border-radius: 0.2rem;
  padding: 0.1rem 0.26rem;
  font-size: 0.72rem;
}
.details img {
  padding: 0;
  margin-right: 0.72rem;
  height: 0.72rem;
}
.details button {
  all: unset;
  background-color: var(--primary-color);
  border-radius: 0.2rem;
  padding: 0.1rem 0.6rem;
  font-size: 0.72rem;
}
