.header {
  text-align: center;
  font-size: 1.4rem;
  padding: 2.64rem 0rem;
}
.header h1 {
  font-size: 2.4rem;
  font-weight: 600;
}
.header svg {
  height: 3rem;
  width: 3rem;
  margin-bottom: 1rem;
}
.main form {
  width: 60%;
  margin: 0rem auto;
  margin-bottom: 4.68rem;
  display: grid;
  grid-template-columns: 0.7fr 0.7fr 1fr 1fr;
  column-gap: 1.2rem;
  row-gap: 0.8rem;
}
.main form button {
  width: 100%;
}
.categories {
  grid-column: span 2;
}
.searchInput {
  grid-column: span 3;
}
.main form div {
  background-color: var(--light-gray-color);
  position: relative;
  height: 3.2rem;
  border-radius: 0.6rem;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
.spanThree {
  grid-column: span 3;
}
.main input,
.main select {
  appearance: none;
  outline: none;
  all: unset;
  width: 100%;
  background-color: var(--light-gray-color);
}
.main div svg {
  position: absolute;
  pointer-events: none;
}
.selectGroup select {
  padding-left: 1.2rem;
}
.selectGroup svg {
  height: 0.44rem;
  right: 1.2rem;
}
.searchInput svg {
  height: 1.2rem;
  left: 1.2rem;
}
.searchInput input {
  padding-left: 3.44rem;
}
@media (max-width: 56rem) {
  .header h1 {
    font-size: 1.875rem;
  }
  .header p {
    width: 65%;
    margin: 0rem auto;
    font-size: 1.125rem;
  }
  .header span {
    display: none;
  }
  .main form {
    width: auto;
    margin: 0rem 2rem;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.82rem;
    row-gap: 1.25rem;
    margin-bottom: 3rem;
  }
  .main form div:last-child {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  .main form button {
    height: 100%;
    width: 50%;
    border-radius: 0.625rem;
    font-weight: 600;
    font-size: 1.2rem;
  }
  .spanThree {
    grid-column: span 2;
  }
  .searchInput {
    grid-column: span 2;
  }
  .searchInput {
    padding-right: 2rem;
  }
}
