.footer {
  background-color: #000000;
  color: #ffffff;
  /* height: 45vh; */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 3rem 3rem 0rem 4rem;
}
.footer-cols {
  display: grid;
  grid-template-columns: 1.5fr repeat(4, 1fr);
  column-gap: 4.6rem;
  justify-content: space-between;
  width: 100%;
  align-items: start;
  height: 80%;
}

.footer-col h1 {
  font-size: 1.4rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 0.125rem solid #ffffff;
}
.footer-col.footer-logo {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  justify-content: center;
  align-items: center;
  padding-top: 1.6rem;
}
.footer-col.footer-logo h1 {
  font-size: 0.88rem;
  border: none;
  margin: 0rem;
  padding: 0rem;
  text-align: center;
}
.footer-col.footer-logo p {
  font-size: 0.8rem;
  font-weight: 200;
  text-align: center;
}
.footer-col.footer-logo svg {
  width: 5rem;
  height: 5rem;
  margin-bottom: 1.4rem;
}

.footer-col:first-child {
  align-self: center;
}
.copyryt {
  display: flex;
  align-items: last baseline;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 300;
  padding-bottom: 1.2rem;
  margin-top: 3rem;
  width: 103%;
}

.copyryt div {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: end;
}
.copyryt ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  /* font-weight: 300; */
}
.copyryt svg {
  height: 1.12rem;
  width: 1.12rem;
  margin: 0rem;
  padding: 0rem;
}
.copyryt * {
  stroke: #fff;
}
@media (max-width: 56rem) {
  .footer-cols {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
    font-size: 1.25rem;
  }
  .container {
    padding-left: 2.875rem;
  }
  .footer-col h1 {
    flex-grow: 1;
    font-size: 1.562rem;
  }
  .footer-col {
    width: 70%;
  }
  .footer-col.footer-logo {
    position: relative;
    padding-top: 3.125rem;
    order: 1;
    width: 100%;
  }
  .footer-col.footer-logo::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0rem;
    width: 100%;
    transform: translateX();
    height: 0.125rem;
    background-color: #fff;
    background-repeat: no-repeat;
  }
  .copyryt {
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.2rem;
    font-size: 0.875rem;
    gap: 4.5rem;
  }
  .copyryt div {
    align-items: center;
    order: -1;
    margin-top: 2.375rem;
  }
  .copyryt svg {
    height: 1.31rem;
    width: 1.31rem;
  }
  .copyryt ul {
    gap: 1.56rem;
  }
  .copyryt div p {
    font-size: 1.25rem;
  }
}
