.mainSection {
  width: 70%;
  margin: 0rem auto;
  margin-top: 4rem;
  margin-bottom: 3.9rem;
}
.mainSection a {
  font-weight: 600;
  border-bottom: 0.12rem solid var(--primary-color);
  padding-bottom: 0.2rem;
}

.header {
  display: flex;
  gap: 2rem;
  padding-bottom: 2rem;
}
.header * {
  stroke: var(--primary-color);
  fill: var(--primary-color);
}
.header svg {
  height: 2.53rem;
  width: 2.65rem;
  transform: translateY(0.4rem);
}
.header h1 {
  font-size: 2.2rem;
  font-weight: 600;
}

.inputContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  /* padding-bottom: 1rem; */
}
.privacy {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  margin-bottom: 2.4rem;
  margin-top: 0.6rem;
}

.action {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  justify-content: flex-end;
}
