.primary {
  background-color: var(--primary-color);
  font-weight: 500;
  font-size: 1.2rem;
  color: #ffffff;
  padding: 0.7rem 0.8rem;
  border: 0.16rem solid var(--primary-color);
  border-radius: 0.6rem;
}
.secondary {
  background-color: #ffffff;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.7rem 1.2rem;
  color: #000000;
  /* padding: 0.85rem 1.2rem; */
  border: 0.16rem solid var(--primary-color);
  border-radius: 0.6rem;
}

@media (max-width: 896px) {
  .primary {
    font-size: 1rem;
    padding: 0.5rem 0.56rem;
    border: none;
    border-radius: 0.31rem;
  }
  .secondary {
    font-size: 1rem;
    padding: 0.5rem 0.56rem;
    border: none;
  }
}
