.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.4rem;
  padding: 2rem 4rem 4rem 4rem;
}
.pagination div {
  display: flex;
  gap: 0.8rem;
}
.pagination svg {
  height: 0.68rem;
}
.pagination svg path {
  stroke: #fff;
  fill: #fff;
  /* stroke-width: 0.05rem; */
}

.nav-btn,
.page-btn {
  all: unset;
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-gray-color);
  color: #000;
  border-radius: 0.6rem;
  cursor: pointer;
  font-weight: 500;
}

.nav-btn[disabled],
.page-btn[disabled] {
  cursor: not-allowed;
  background-color: var(--light-gray-color);
}
.nav-btn[disabled] * {
  stroke: #000;
  fill: #000;
}

.page-btn.active {
  background-color: #000000;
  color: #fff;
}
.nav-btn {
  background-color: var(--primary-color);
}
@media (max-width: 56rem) {
  .pagination {
    padding: 3.125rem 1.3125rem 5.625rem 1.3125rem;
  }
}
